.essay-sketch {
    background-color: #F8ECC2;
}

.title-container {
    position: absolute;
}

.title-text {
    font-family: Tahoma, Helvetica, serif;
}

.concept {
    font-family: Tahoma, Helvetica, serif;
    font-size: 3vmin;
    opacity: 0;
}

.conceptShow {
    opacity: 1 !important;
}

.hover {
    outline: 5px solid #6B6793;
}

.lightboxOverlay {
    background-color: #F8ECC2 !important;
    opacity: 0.9 !important;
}

.lb-data .lb-caption {
    font-family:  serif !important;
    font-weight: normal !important;
    font-size: 3vmin !important;
    line-height: 2.1vmin !important;
    color: #000000;
}

.horizontal-line {
    color: #000000;
    background-color: #000000;
    height: 0.3vmin;
    width: 100%;
}

.page-link {
    width: 10vmin;
    height: auto;
}

.pl-highlight {
    width: 10vmin;
    height: auto;
    opacity: .5;
}

.hidden {
    display: none;
}

#bottom-right {
    position: fixed;
    bottom: 0;
    right: 0;
}

#upper-right {
    position: fixed;
    top: 0;
    right: 0;
}