.essay-sketch {
    background-color: #F8ECC2;
}

.concept {
    font-family: Tahoma, Helvetica, serif;
    font-size: 3vmin;
}

.lb-data .lb-caption {
    font-family:  serif !important;
    font-weight: normal !important;
    font-size: 2vmin !important;
    line-height: 2.1vmin !important;
}

.corner-link {

}

.horizontal-line {
    color: #000000;
    background-color: #000000;
    height: 0.3vmin;
    width: 100%;
}